#menu
{
	position: fixed;
	border-top: none;
	width: 100%;
	height: 60px;
	background:  #608000;
	line-height: 250%;
	color: white;
	font-family: Calibri;
	font-weight: bold;
	font-size: 150%;
	text-align: center;
	box-shadow: 5px 5px 5px black;
	text-shadow: 2px 2px 5px black;
	
	
}
a {
	color: white;
	text-decoration: none;
  }
a:hover {
	color: #604020;
	font-size: 120%;
  }

.thumbnail-grid figure {
    position: relative;
	min-width: 200px;
	/*text-align: center;*/
	vertical-align: bottom;
    margin: 5px;
    box-shadow: inset 0 -40px 0 0 rgba(0,0,0,.1);
    transition: all .2s ease-in-out
}
.thumbnail-grid figure:hover {
    box-shadow: inset 0 -150px 0 0 rgba(0,0,0,.5);
}

.thumbnail-grid figure:hover figcaption {
    bottom: 60px
}



#about{

	font-family: Calibri;
	font-size: 20px;
	color: white;
	
}

#photos{
	font-family: Calibri;
	font-size: 20px;
	color: white;
	
	
}

#playlist{
	font-family: Calibri;
	font-size: 20px;
	color: white;

	
}


#like{
	font-family: Calibri;
	font-size: 20px;
	color: white;

	
}

#opac1 {
	text-align:center;
  }
  h1 {
	  position:relative;
	  display:inline-block;
  }
  h1::before, h1::after {
	  content:' ';
	  display:block;
	  position:absolute; top:50%; left:-120px;
	  width:100px; /* 100px line on either side */
	  border-bottom:1px solid #FFF;
  }
  h1::after {
	  left:auto; right:-120px; /* make the "after" position on the right side of the h1 */
  }
  
#title{
	
	text-shadow: 2px 3px 10px black;
	font-size: 250%;
}




  div.gallery {
	border: 1px solid #ccc;
  }
  
  div.gallery:hover {
	border: 3px solid #777;
	
  }
  
  div.gallery img {
	width: 150px;
	height: 100px;
  }
  
  div.desc {
	padding: 10px;
	text-align: center;
  }
  
  * {
	box-sizing: border-box;
  }
  
  .responsive {
	padding: 0 6px;
	
	float: left;
	
  }

  #Movietd:hover {
	background: #608000;
	 filter: blur(1px);
	 padding: 5px;
	
	}
  
/*  @media only screen and (max-width: 700px) {
	.responsive {
	  width: 49.99999%;
	  margin: 6px 0;
	}
  }
  
  @media only screen and (max-width: 500px) {
	.responsive {
	  width: 100%;
	}
  }
  
  .clearfix:after {
	content: "";
	display: table;
	clear: both;
  }*/
